Repository hooore/hooore-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "*.{md,html,css}": ["prettier --write"]
}

update build configuration and add tsup for bundling
  .gitignore
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

add eslint-plugin-import to eslint-config package
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

remove turbo from eslint configurations and update peerDependencies for eslint
  packages/eslint-config/library.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  pnpm-lock.yaml
Due: eslint, prettier --write

refactor: remove ESLint configuration and update linting setup
  .eslintignore
  .eslintrc.js
  .gitignore
  .lintstagedrc.json
  package.json
  packages/eslint-config/library.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

feat: add build script for utils and update tsup configuration for entry and treeshaking
  package.json
  packages/utils/tsup.config.ts
Due: eslint, prettier --write

chore: migrate to biome for linting and formatting, remove prettier configuration
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  biome.json
  package.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: clean up biome configuration by removing redundant ESLint include
  biome.json
Due: none

chore: remove redundant linter override for unused variables in biome configuration
  biome.json
Due: none

feat: add build script for utils in package.json
  package.json
Due: none

Add build process for utils and implement cn function for class merging
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  packages/utils/dist/index.cjs
  packages/utils/dist/index.d.cts
  packages/utils/dist/index.d.ts
  packages/utils/dist/index.js
Due: eslint, prettier --write

refactor: improve exports and formatting in utils package
  packages/utils/dist/index.cjs
  packages/utils/dist/index.js
  packages/utils/tsup.config.ts
Due: eslint, prettier --write

chore: update package versions to remove caret (^) from dependencies
  package.json
  pnpm-lock.yaml
Due: none

Archive repository
  README.md
Due: prettier --write
